.filterDiv {
    display: none;
}


.btn {
    /* border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer; */
    cursor: pointer;
}

.btn:hover {
    background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
    background-color: #666;
    color: white;
}